<html>
<head>
    <title>Cities</title>
</head>
<body>
    <h1>You added a city!</h1>
    <p>{{ cities.getCity }}</p>
    <img src="{{cities.getImage}}" alt="{{cities.getCity}}" />
    <p><a href='/'>View your visited cities.</a></p>
</body>
</html>
